header.user {
    height: 400px;
    width: 100%;
    background-color: #fca119;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
}

.user-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 36px 0 0 0;
}

.user-name {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff
}