header.user {
    height: 400px;
    width: 100%;
    background-color: #fca119;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
}

.user-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-name {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff
}

.user-first-name {
    font-family: Source Sans Pro, sans-serif;
    font-size: 2.25rem;
    font-weight: 700;
    margin-right: 8px;
}

.user-last-name {
    font-family: Source Sans Pro, sans-serif;
    font-size: 2.25rem;
    font-weight: 300;
}


@media screen and (min-width: 768px) {
    header.user {
      float: left;
      width: 35%;
      margin: 36px 0px 0px 36px;
    }

    .user-avatar {
        padding: 36px 0px 0px 0px ;
    }
}
