header {
    height: 400px;
    width: 100%;
    background-color: #88b8eb;
    background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png");
}

.user-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 36px 0 0 0;
}

.user-name {
    display: flex;
    justify-content: center;
    align-items: center;
}