.container {
    display: flex;
    justify-content: center;
    background-color: #f5efeb;
    flex-wrap: wrap;
}

h2 {
    text-align: center;
}

.new-tweet {
    width: 100%;
    margin: 10px;
}

textarea {
    width: 100%;
    padding: 5px;
    margin: 5px 0 15px 0;
    border: none;
    border-bottom: 4px solid #545149;
    background-color: #f5efeb; 
    font-size: 1.1rem;
}

button {
    font-family: Bungee, sans-serif;
    font-size: 18px;
    background-color: #4056A1;
    color: #ffffff;
    padding: 5px 10px;
    border: none;
}

label {
    font-weight: 700;
    font-size: 1.25rem;
}

output {
    font-family: Bungee, sans-serif;
}

.tweeting {
    display: flex;
    justify-content: space-between;
    align-items: center;
}