.container {
    display: flex;
    justify-content: center;
    background-color: #f0f0f0;
    flex-wrap: wrap;
}

.new-tweet {
    width: 100%;
    margin: 10px;
}

.new-tweet p.exceeds-text {
    border: 2px solid red;
    border-radius: 5px;
    font-size: 1.1rem;
    color: red;
    padding: 10px;
    display: none;
}

.new-tweet p.empty-text {
    border: 2px solid red;
    border-radius: 5px;
    font-size: 1.1rem;
    color: red;
    padding: 10px;
    display: none;
}

form {
    margin-top: 20px;
}

textarea {
    width: 100%;
    padding: 5px;
    margin: 5px 0 15px 0;
    border: none;
    border-bottom: 4px solid #545149;
    background-color: #f0f0f0; 
    font-size: 1.1rem;
}

button {
    font-family: Bungee, sans-serif;
    font-size: 18px;
    background-color: #4056A1;
    color: #ffffff;
    padding: 5px 10px;
    border: 3px solid #4056A1;
    border-radius: 3px;
    outline: none;
}

button:hover {
    border: 3px solid rgb(98, 162, 240);
    border-radius: 3px;
    cursor: pointer;
}

label {
    font-weight: 700;
    font-size: 1.25rem;
}

output {
    font-family: Bungee, sans-serif;
}

.tweeting {
    display: flex;
    justify-content: space-between;
    align-items: center;
}